@font-face {
    font-family: TTLakes;
    src: url("font/TTLakes-Regular.woff") format("woff");
}

body {
    font-family: TTLakes, serif;
    margin: 0;
    min-width: 320px;
    background-color:#F8F8F8; 

}
.header{
           
    background-color: white;
    margin-top: auto;
    padding:0px 20px;
}
.header-list{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 19px 0; 
    list-style-type: none;    
    background-repeat: no-repeat;
}

.header-list__item{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;

}
.burger {      
    background-image: url(ic/burger.png);  
    background-repeat: no-repeat;
}

.divider_left {
    display: none;
   
}

.group {
    width: 96.55px;
    height: 50.81px;
    background-image: url(ic/group.png);
    
}

.call {
   display: none;
}

.chat {
    display: none;
 }

 .profile{
    display: none;
}

.divider {
    width: 2px;
    height: 32px;
    background-image: url(ic/divider.png); 
}

.repair {
    background-image: url(ic/repair.png);
}

.checkstatus{
    background-image: url(ic/checkstatus.png);
}

.btn_repair {
    display: none;
}

.btn_checkstatus {
    display: none;
}

.highlight {
    width: 4px;
    background-image: url(ic/highlight.png);
    background-repeat: no-repeat ;    
}

.main-title {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
   
}

.main-title__title{ 
    margin: 0;
    padding-left: 10px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: 1000;
}

.main_nav{
    display: block;   
   
}

.nav-list{ 
    display:flex;
    flex-wrap: nowrap;
    margin: 0; 
    padding: 0;
    padding-top:15px;
    padding-left: 16px; 
    overflow: scroll;   
}

.nav-list__item  {
   height:40px;
   border: 2px solid #F8F8F8;
   text-decoration: none;
   color:#7E7E82;
   line-height: 1;
   border-radius: 10px;
   padding: 10px 15px;
   white-space: nowrap;  
}

.nav-list__item:hover, .main_nav_item:focus {
     border: 2px solid #B8FFEC;    
}

.content__item {
display:flex;
flex-wrap: wrap;
margin: 0px;
}
 
.block__text-btn {
    display: block;
    border:0;
    height: 24px;
    width: 132px;
    padding-left: 24px;
    background-color:#F8F8F8; 
    background-image: url(ic/expand.png); 
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-weight: bold;
}
.content__block{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 16px;
}

.block__text{ 
    height: auto;    
    max-height: 28vw;
    overflow: hidden;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-size: 14px;
}

.main_logo{
    border-radius: 2px; 
}
