body {
    margin-top: 20px;
}
.header-list__item {
    margin-right: 20px;    
}
.divider_left {
    display: inline;
    width: 2px;
    height: 32px;
    background-image: url(ic/divider.png); 
     background-repeat: no-repeat;
}
    
.call {
    display: inline;
    margin-left:auto;
    background-image: url(ic/call.png); 
}

.chat {
    display: inline;
    background-image: url(ic/chat.png);
} 
  
.profile {
    display: inline;
    background-image: url(ic/profile.png);  
}
    
.btn_repair {
     display: none;
}
   
.btn_checkstatus {
    display: none;
}
    
.button_repair {
    display: none;
}
    
.btn_checkstatus {
    display: none;
}
    
.content__item {
    display:flex;
    flex-wrap: nowrap;
    gap:42px;    
    margin: 0px;
    padding: 20px;
}
        
.main_logo{
    border-radius: 5px;
    max-width:40vw;
    height: auto; 
} 

.content__block{
    margin: 0;
    padding: 0;  
}

.block__text{ 
    height: auto;    
    max-height: 22vw;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
        
    
