body{
    margin-top: 40px;
}

.header__logo {
    display: none;
}
.btn_brend {
    display: inline-block;
}
.btn_address {
    display: inline-block;
}
.btn_add_service {
    display: none;
}
.nav-list{ 
    flex-wrap: wrap;
    overflow: visible;
}
.main-title__btn {
    margin-right: 20px;
    background-color: #F8F8F8;
}

.btn_repair {
    display: inline-block;
    background-image: url(ic/repair.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: auto;
    border:none;
    text-align: left;
    height: 40px;
    width: 168px;
    padding: 0;    
}
.btn_checkstatus {
    display: inline-block;
    background-image: url(ic/checkstatus.png);
    background-repeat: no-repeat;
    background-position: right;
   
    border:none;
    text-align: left;
    height: 40px;
    width: 168px;
    padding:0;
}

.main-title {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-weight: bold;
   
}
