body{
    margin-top: 40px;
    width: auto;
    height: auto;
}

.header {
    display: none;   
}

.nav-list{ 
    flex-wrap: wrap;
    overflow: visible;
}
.main-title__btn {
    margin-right: 20px;
    background-color: #F8F8F8;
    font-weight: 400;
}


.btn-repair {
    display: inline-block;
    background-image: url(ic/repair.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: auto;
    border:none;
    text-align: left;
    height: 40px;
    width: 168px;
    padding: 0;    
}

.btn-checkstatus {
    display: inline-block;
    background-image: url(ic/checkstatus.png);
    background-repeat: no-repeat;
    background-position: right;
    border:none;
    text-align: left;
    height: 40px;
    width: 168px;
    padding:0;
    
}

.highlight {
    display: inline;
    width: 3px;
    background-image: url(ic/highlight_hs.png);
    background-repeat: no-repeat ;  
      
}

.main-title {
    padding-top: 0;
    justify-content: space-between;
    width: auto;
    font-weight: bold;
   
}

