@font-face {
    font-family: TTLakes;
    src: url("/font/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: TTLakes-Bold;
    src: url("/font/TTLakes-Bold.woff") format("woff");
}

body {
    font-family: TTLakes, serif;
    margin: 0;
    min-width: 320px;
    background-color:#F8F8F8; 

}
.header{  
    background-color: white;
    margin-top: auto;
    padding:0px 20px;
    border-bottom: 1px solid #D9FFF5;
}

.header-list{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 19px 0; 
    list-style-type: none;    
    background-repeat: no-repeat;
}

.header-list__item{
    background-repeat: no-repeat;
}

.round-icon {
    width: 40px;
    height: 40px;
}

.round-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    padding: 0 ;
    background-color: transparent;
}
.round-link{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.item-mid{
    display: none;
}

.burger {      
    background-image: url(ic/burger.png);   
}

.item-left.divider {
    display: none;
}

.group {
    width: 96.55px;
    height: 50.81px;
    background-image: url(ic/group.png);  
}


.divider {
    width: 2px;
    height: 32px;
    background-image: url(ic/divider.png); 
}

.repair {
    background-image: url(ic/repair.png);
}

.checkstatus{
    background-image: url(ic/checkstatus.png);
}

.btn-repair {
    display: none;
}

.btn-checkstatus {
    display: none;
}

.highlight {
    width: 4px;
    background-image: url(ic/highlight.png);
    background-repeat: no-repeat ;    
}

.main-title {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
   
}

.main-title__title{ 
    margin: 0;
    padding-left: 10px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-family: TTLakes-bold;
    ;
}

.main_nav{
    display: block;   
   
}

.nav-list{ 
    display:flex;
    flex-wrap: nowrap;
    margin: 0; 
    padding: 0;
    padding-top:15px;
    padding-left: 16px; 
    overflow: auto;   
}
.nav-list__item{
    display: inline-block;
    height:40px;
    padding: 0;
   
   
    

}

.link-btn  {
   display: inline-block;
   padding: 10px 20px;  
   text-decoration: none;
   color:#7E7E82;
   line-height: 1; 
   white-space: nowrap;  
   border: 2px solid #F8F8F8;
   border-radius: 6px;
}

.link-btn:hover, .link-btn:focus {
    border: 2px solid #B8FFEC;    
}

.content__item {
display:flex;
flex-wrap: wrap;
margin: 0px;
}
 
.block__text-btn {
    display: block;
    border:0;
    height: 24px;
    width: 132px;
    padding-left: 24px;
    background-color:#F8F8F8; 
    background-image: url(ic/expand.png); 
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-weight: bold;
}
.content__block{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 16px;
}

.block__text{ 
    height: auto;    
    max-height: 28vw;
    overflow: hidden;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-size: 14px;
}

.main_logo{
    border-radius: 2px; 
}
